<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>To Do List Application</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
</head>


<div class="container">
	<body>
		<h1>To Do List Application</h1>
		
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
				<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
					<li class="nav-item active"><a class="nav-link" href="home">Home
							<span class="sr-only">(current)</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" href="new">Add</a></li>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="search"
						placeholder="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</nav>

		<h3>Add a new task</h3>


		<div align="left">
			<h2>Registration Succeeded!</h2>
			<span>Title:</span><span th:text="${task.title}"></span><br />
			<span>Description:</span><span th:text="${task.description}"></span><br /> 
			<span>Status:</span><span th:text="${task.status}"></span><br />
		</div>

	</body>
</div>



</html>